.gs-checkbox {
	align-items: center;
	cursor: pointer;
	display: inline-flex;
	gap: 0.5rem;
	position: relative;
	user-select: none;

	& input[type='checkbox'] {
		opacity: 0;
		width: 0;
		height: 0;
	}

	& .checkmark {
		background: var(--color-white);
		border: 2px solid var(--color-black);
		border-radius: 2px;
		height: 1.125rem;
		position: relative;
		transition: all 0.3s ease-in-out;
		width: 1.125rem;

		&:before {
			background: var(--color-light-green);
			border-radius: 50%;
			content: '';
			display: block;
			height: 1px;
			opacity: 0;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.2s ease-in-out;
			width: 1px;
			z-index: 1;
		}

		&:after {
			border: solid var(--color-white);
			border-width: 0 0.125rem 0.125rem 0;
			content: '';
			display: none;
			height: 0.625rem;
			left: 0.25rem;
			position: absolute;
			top: -1px;
			transform: rotate(45deg);
			width: 0.25rem;
		}
	}

	&:hover input[type='checkbox']:not(:checked) + .checkmark,
	input[type='checkbox']:not(:checked):focus + .checkmark {
		&::before {
			width: 2.3rem;
			height: 2.3rem;
			opacity: 0.5;
		}
	}

	& input:checked {
		& ~ .checkmark {
			background-color: var(--color-green);
			border-color: var(--color-green);

			&:after {
				display: block;
			}
		}
	}
}
