.product-widget-settings {
	display: flex;
	flex-direction: column;
	font-family: 'Cabin', system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	gap: 0.625rem;
	width: 100%;

	& .product-widget-linked,
	& .product-widget-active,
	& .product-widget-color {
		align-items: center;
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
		width: 100%;
	}
}
