* {
	box-sizing: border-box;
}

a {
	font-weight: 500;
	color: var(--color-green);
	text-decoration: inherit;

	&:hover {
		text-decoration: underline;
	}
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 3rem 1.5rem;
	min-height: 100vh;
	width: 100%;
}
